<div class="headerButtonsForm">
  <p-button label="Cancelar" class="cancelButton"></p-button>
  <p-button type="submit" (click)="saveForm()" label="Enviar"></p-button>
</div>

<div [formGroup]="form" class="card flex justify-content-center">
  <div class="flex flex-column gap-2">
    <label htmlFor="itemName">
      <span
        class="required-marker"
        *ngIf="form.get('itemName')?.errors?.['required']"
        >*</span
      >Nome do Item</label
    >
    <input pInputText formControlName="itemName" />
    <div
      *ngIf="form.get('itemName')?.invalid && form.get('itemName')?.touched"
      class="error-message"
    >
      Campo obrigatório
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="unitOfMeasurement">
      <span
        class="required-marker"
        *ngIf="form.get('unitOfMeasurement')?.errors?.['required']"
        >*</span
      >Uni. de Medida</label
    >
    <input pInputText formControlName="unitOfMeasurement" />
    <div
      *ngIf="
        form.get('unitOfMeasurement')?.invalid &&
        form.get('unitOfMeasurement')?.touched
      "
      class="error-message"
    >
      Campo obrigatório
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="quantity">Quantidade</label>
    <input pInputText id="quantity" formControlName="quantity" />
    <div
      *ngIf="form.get('quantity')?.invalid && form.get('quantity')?.touched"
      class="error-message"
    >
      Campo obrigatório
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="price">Preço</label>
    <input pInputText id="price" formControlName="price" />
    <div
      *ngIf="form.get('price')?.invalid && form.get('price')?.touched"
      class="error-message"
    >
      Campo obrigatório
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="perishableProduct">Produto Perecível</label>
    <p-checkbox
      [binary]="true"
      inputId="binary"
      id="perishableProduct"
      formControlName="perishableProduct"
    ></p-checkbox>
    <div
      *ngIf="
        form.get('perishableProduct')?.invalid &&
        form.get('perishableProduct')?.touched
      "
      class="error-message"
    >
      Campo obrigatório
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="expirationDate">Data Validade</label>
    <p-calendar
      id="expirationDate"
      formControlName="expirationDate"
    ></p-calendar>
    <div
      *ngIf="
        form.get('perishableProduct')?.value &&
        form.get('expirationDate')?.invalid &&
        form.get('expirationDate')?.touched
      "
      class="error-message"
    >
      Campo obrigatório
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="manufacturingDate">Data Fabricação</label>
    <p-calendar
      id="manufacturingDate"
      formControlName="manufacturingDate"
    ></p-calendar>
    <div
      *ngIf="
        form.get('manufacturingDate')?.invalid &&
        form.get('manufacturingDate')?.touched
      "
      class="error-message"
    >
      Campo obrigatório
    </div>
  </div>
</div>
