<p-toast></p-toast>
<div class="headerButtonsForm">
  <p-button label="Cancelar" class="cancelButton" routerLink="/Listar"></p-button>
  <p-button type="submit" (click)="saveForm()" label="Salvar"></p-button>
</div>

<form [formGroup]="form" class="card flex justify-content-center">
  <!-- inputs em tela -->
  <div class="flex flex-column gap-2 hiden-input">
    <input pInputText inputId="id" formControlName="id"/>
  </div>

  <div class="flex flex-column gap-2 hiden-input">
    <input pInputText inputId="deleteDate" formControlName="deleteDate"/>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="itemName">
    <span class="required-marker">*</span>Nome do Item</label>
    <input pInputText inputId="itemName" formControlName="itemName" name="itemName" [maxlength]="50"/>
    <div *ngIf="form.get('itemName')?.invalid && form.get('itemName')?.touched" class="error-message">
      Campo obrigatório
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="unitOfMeasurement">
      <span class="required-marker">*</span>Unidade de Medida</label>
      <p-dropdown inputId="unitOfMeasurement" [options]="unitsOfMeasurementOption" optionLabel="name"
          formControlName="unitOfMeasurement" placeholder="Selecione" name="unitOfMeasurement" [(ngModel)]="unitOfMeasurement"></p-dropdown>
      <div *ngIf="form.get('unitOfMeasurement')?.invalid && form.get('unitOfMeasurement')?.touched" class="error-message">
        Campo obrigatório
      </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="quantity">Quantidade</label>

     <div [ngSwitch]="unitOfMeasurement.value">
      <div *ngSwitchCase="'lt'">
        <div class="ui-inputgroup">
          <input type="text" pInputText minlength="0" maxlength="3" inputId="quantity" formControlName="quantity" name="quantity"/>
          <span class="ui-inputgroup-addon">Lt.</span>
        </div>
      </div>

      <div *ngSwitchCase="'kg'">
        <div class="ui-inputgroup">
          <input type="text" pInputText minlength="0" maxlength="3" inputId="quantity" formControlName="quantity" name="quantity" />
          <span class="ui-inputgroup-addon">Kg.</span>
        </div>
      </div>

      <div *ngSwitchCase="'uni'">
        <div class="ui-inputgroup">
          <input type="text" pInputText minlength="0" inputId="quantity" formControlName="quantity" name="quantity" inputmode="numeric"
            pattern="[0-9]*">
          <span class="ui-inputgroup-addon">Uni.</span>
        </div>
      </div>

      <div *ngSwitchCase="''">
        <div class="ui-inputgroup">
           <input type="text" pInputText minlength="0" inputId="quantity" formControlName="quantity" name="quantity" inputmode="numeric"
            pattern="[0-9]*">
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="price">
    <span class="required-marker">*</span>Preço</label>
    <p-inputNumber  mode="currency" currency="BRL" locale="pt-BR" formControlName="price" name="price" [required]="true"></p-inputNumber>
    <div *ngIf="form.get('price')?.invalid && form.get('price')?.touched" class="error-message">
      Campo obrigatório
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="perishableProduct">
    <span class="required-marker">*</span>Produto Perecível</label>
    <p-checkbox [binary]="true" inputId="perishableProduct" formControlName="perishableProduct"></p-checkbox>
    <div *ngIf="form.get('perishableProduct')?.invalid && form.get('perishableProduct')?.touched" class="error-message">
      Campo obrigatório
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="expirationDate">Data Validade</label>
    <p-calendar inputId="expirationDate" formControlName="expirationDate" name="expirationDate"
        [showIcon]="true" dateFormat="dd/mm/yy" (onSelect)="onDateSelect()"></p-calendar>
    <div *ngIf="form.get('perishableProduct')?.value && form.get('expirationDate')?.invalid && form.get('expirationDate')?.touched"
      class="error-message">
        Campo obrigatório
    </div>
    <div *ngIf="productOutOfDate" class="error-message" class="error-message">Produto fora da validade</div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="manufacturingDate">
    <span class="required-marker">*</span>Data Fabricação</label>
    <p-calendar formControlName="manufacturingDate" inputId="manufacturingDate" name="manufacturingDate"
        [showIcon]="true" dateFormat="dd/mm/yy" (onSelect)="onDateSelect()"></p-calendar>
    <div *ngIf="form.get('manufacturingDate')?.invalid && form.get('manufacturingDate')?.touched" class="error-message">
      Campo obrigatório
    </div>
    <div *ngIf="manufacturingDateInvalid" class="error-message">
      Data de fabricação não pode ser maior que a data de validade.
    </div>
  </div>

</form>
