<p-toast></p-toast>
<div class="headerButtonsForm">
  <p-button label="Cancelar" class="cancelButton" routerLink="/Listar"></p-button>
  <p-button type="submit" (click)="saveForm()" label="Salvar"></p-button>
</div>

<form [formGroup]="form" class="card flex justify-content-center">
  <!-- inputs em tela -->
  <div class="flex flex-column gap-2 hiden-input">
    <input pInputText inputId="id" formControlName="id" [(ngModel)]="id"/>
  </div>

  <div class="flex flex-column gap-2 hiden-input">
    <input pInputText inputId="deleteDate" formControlName="deleteDate" [(ngModel)]="deleteDate"/>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="itemName">
    <span class="required-marker">*</span>Nome do Item</label>
    <input pInputText inputId="itemName" formControlName="itemName" name="itemName" [maxlength]="50"
      [(ngModel)]="itemName"/>
    <div *ngIf="form.get('itemName')?.invalid && form.get('itemName')?.touched" class="error-message">
      Campo obrigatório
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="unitOfMeasurement">
      <span class="required-marker">*</span>Uni. de Medida</label>
      <p-dropdown #unitOfMeasurementFormInput inputId="unitOfMeasurement" [options]="unitsOfMeasurementOption" optionLabel="name"
          formControlName="unitOfMeasurement" [(ngModel)]="unitOfMeasurement" onChange="onChangeUnitOfMeasurement"></p-dropdown>
      <div *ngIf="form.get('unitOfMeasurement')?.invalid && form.get('unitOfMeasurement')?.touched" class="error-message">
        Campo obrigatório
      </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="quantity">Quantidade</label>
    <input inputId="quantity" pInputText type="number" formControlName="quantity" [(ngModel)]="quantity" pInputMask="9*.999" />
    <div *ngIf="form.get('quantity')?.invalid && form.get('quantity')?.touched" class="error-message">
      Campo obrigatório
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="price">
    <span class="required-marker">*</span>Preço</label>
    <p-inputMask mask="R$ 99999.99" placeholder="0.00" [slotChar]="'0'" formControlName="price" [(ngModel)]="price" ng2-mask="currency"></p-inputMask>
    <div *ngIf="form.get('price')?.invalid && form.get('price')?.touched" class="error-message">
      Campo obrigatório
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="perishableProduct">
    <span class="required-marker">*</span>Produto Perecível</label>
    <p-checkbox [binary]="true" inputId="perishableProduct" formControlName="perishableProduct"
      [(ngModel)]="perishableProduct"></p-checkbox>
    <div *ngIf="form.get('perishableProduct')?.invalid && form.get('perishableProduct')?.touched" class="error-message">
      Campo obrigatório
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="expirationDate">Data Validade</label>
    <p-calendar inputId="expirationDate" formControlName="expirationDate" name="expirationDate"
        [showIcon]="true" [(ngModel)]="expirationDate" dateFormat="dd/mm/yy"></p-calendar>
    <div *ngIf="form.get('perishableProduct')?.value && form.get('expirationDate')?.invalid && form.get('expirationDate')?.touched"
      class="error-message">
        Campo obrigatório
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="manufacturingDate">
    <span class="required-marker">*</span>Data Fabricação</label>
    <p-calendar formControlName="manufacturingDate" inputId="manufacturingDate" name="manufacturingDate"
        [showIcon]="true" [(ngModel)]="manufacturingDate" dateFormat="dd/mm/yy"></p-calendar>
    <div *ngIf="form.get('manufacturingDate')?.invalid && form.get('manufacturingDate')?.touched" class="error-message">
      Campo obrigatório
    </div>
  </div>

</form>
